
/*header*/

header.header li.current-menu-item a.nav-link {
  color: #eac15a;
}
header.header li.current-menu-item:hover a.nav-link {
  color: #eac15a;
}
.container-nav-header{
  display: flex;
  width: 100%;
}
.photo-header-wrap{
  display: flex;
  justify-content: flex-start;
}
.photo-header-wrap .photo-header .photo-logo {
  height: 81px;
}
.photo-header-rostex{
  /*padding-left:20px;*/
  /*padding-top: 12px;*/
  padding:12px 0 0 50px;
}
.photo-header-wrap .photo-header-rostex > img{
  height: 51px;
}
/****** ПОДВАЛ САЙТА ******/

  .nav-bottom {display: block;  }
	.nav-bottom .footer-menu-wrap {
    display: flex;
    justify-content:space-around;
      /*overflow: hidden;*/
  }
	.nav-bottom .footer-menu-wrap > div {
      display: block;
      width: 100%;
      height: auto;
      min-height: 0;
      vertical-align: top;
    }

  .nav-bottom .footer-menu-wrap > div.empty {
    display: none
  }
  

.nav-bottom {
    padding-top: 4em;
    padding-bottom: 3em;
    /* border: 1px solid rgba(255,255,255,.3); */
    /* border-width: 1px 0; */
    display: table;
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

.footer {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(8, 11, 11), rgb(16, 21, 22), rgb(25, 32, 33), rgb(33, 42, 44), rgb(41, 53, 55), rgb(49, 63, 66));
}





h6 {
  color:blue;
}

.nav-bottom ul {
  margin-top: 1.75em;
  padding: 0;
}

.fp-section .nav-bottom {
  padding-bottom: 1em;
}

.text-footer  , .footer-menu-wrap ul li{
  background: none;
  display: block;
  /*float: left;*/
  padding: 10px;
  margin-top: 5px;
}

p {
  color:#ffffff;
  font: 15px Arial;
}


.footer-information {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 35px;
  padding: 0 15px;
}
.footer-information > div:first-child{
  margin-right: 15px;
}

.footer-logo-corruption {
  margin-top: -30px;
}






/* top btn and modal men window - side  */
button > i.fa-search{
  cursor: pointer;
}

.top-side-menu {
  position: fixed;
  z-index: 999999;
  width: 93vw;
  height: 100vh;
  background-color: #1c1018;
  top: 0;
  right: -100%;
  transition: all .7s;
  overflow: auto;
}

.top-side-menu.show {
  right: 0vw;
  transition: all .7s;
}

.top-side-menu-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 150px;
}

.top-side-menu-search, .top-side-menu-social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.top-side-menu-search > form > span, .top-side-menu-social > form > span {
  font-weight: 100;
  font-size: 3em;
  line-height: .75;
  opacity: .2;
  color: #fff;
  line-height: 1;
  padding: 0 15px 0 0;
  position: relative;
  top: 4px;
}

.top-side-menu-search > form > input[type=text], .top-side-menu-social > form > input[type=text] {
  width: 350px;
  padding: 0 50px 0 15px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 43px;
  font-size: 1.39em;
  color: #fff;
  border-right: none;

}

.top-side-menu-search > form > button, .top-side-menu-social > form > button {
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
 /*border-left: none;*/
  padding: 0 15px;
  height: 43px;
  font-size: 1.39em;
  color: #999999;
  margin-left: -4px;
  position: relative;
  top: 1px;
  transition: all 0.7s;
  right:53px;
}

.top-side-menu-search > form > button:hover, .top-side-menu-social > form > button:hover {
  color: #fff;
}

.top-side-menu-social {
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 42px;
  align-items: flex-start;
}

.top-side-menu-social > a {
  margin: 0 8px;
  color: #999;
}

.top-side-menu-social > a > i.fab {
  font-size: 25px;
  line-height: 0.5;
  transition: all 0.5s;
  position: relative;
  top: 0;
}

.top-side-menu-social > a > i.fab:hover {
  color: #fff;
  top: -4px;
}

.top-side-menu-body {
  display: grid;
  grid-template-columns: repeat(3, 3fr) 1fr;
  grid-template-rows: auto;
  gap: 0 42px;
  padding: 0 30px 0;
}

.top-side-menu-body-list {
  list-style: none;
  padding: 0 15px 0 15px;
  background-color: transparent;
}

.top-side-menu-body-list > li {
  padding: 5px auto 5px;
  float: none;
}

.top-side-menu-body-list > li > a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
  text-decoration: none;
}

.top-side-menu-body-list > li > a:hover ,
.top-side-menu-body-list > li.current-menu-item > a {
  color: rgba(255, 255, 255, 0.9);
}

.top-side-menu-body-list > li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.top-side-menu-body-list > li:first-child > a {
  color: #fff;
}

.top-side-menu-burger-out-btn, .top-side-menu-burger-in-btn {
  position: fixed;
  top: 65px;
  right: 70px;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
  z-index: 9999;
  /* background-color: #000; */
  cursor: pointer;
}

.top-side-menu-burger-out-btn > span, .top-side-menu-burger-in-btn > span {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.top-side-menu-burger-out-btn:hover > span, .top-side-menu-burger-in-btn:hover > span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

.top-side-menu-burger-in-btn {
  position: static;
  display: inline-flex;
  background-color: #1c1018;
  margin-left: 30px;
}


/*
top offset - admin
 */
.admin-bar .navbar{
  top: 32px;
}

.admin-bar #page{
  margin-top: 35px;
}

.footer-copyright{
  display: flex;
  justify-content: center;
  padding: 14px 0;
  margin: 0 0 0 0;
}
.footer nav.nav-bottom  li a{
  color: #eee;
  transition: all 0.5s;
}
.footer nav.nav-bottom  li a:hover{
  color: #fff;
}
.footer nav.nav-bottom  li:first-child > a ,
.footer-menu-wrap ul li.current-menu-item a{
  color: #eac15a;
  font-size: 21px;
}
.footer nav.nav-bottom  li.current-menu-item a{

}
.nav-bottom{
  padding-top: 0;
}

.footer-information  i.fab{
  width: 26px;
  font-size: 21px;
  cursor: pointer;
  transition: all 0.5S;
  color: #999;
}
.footer-information  i.fab:hover{
  transform: translateY(-20%);
  color: #fff;
}
li.current-menu-item a{
  text-decoration: none;
  color: #eac15a;
  outline: none !important; }

.admin-bar .navbar {
  top: -35px;
}

/*setting for mobile and etc*/
/*// Малые девайсы («ландшафтные телефоны», >= 576px)*/
/*// Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (max-width: 1199px) {
  .footer nav.nav-bottom .footer-menu-wrap{
    padding: 0 15px;
  }

  /*header , sidemenu*/
  .admin-bar .navbar {
    top: -36px;
  }
  .top-side-menu-burger-out-btn, .top-side-menu-burger-in-btn{
    top: 51px;
  }


}
/*// Большие девайсы (десктопы, >= 992px)*/
@media (max-width: 991px) {
   .footer-information{
     flex-direction: column;
     align-items: center;
     margin-top: 0;
   }
  .footer-information > div:first-child{
    text-align: center;
    padding: 0 5px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer nav.nav-bottom .footer-menu-wrap>div  ul li a{
    font-size: 18px;
  }
  .footer-copyright{
    text-align: center;
  }

  /*header sidemenu*/
  .admin-bar .navbar {
    top: -36px;
  }

  .top-side-menu-burger-out-btn, .top-side-menu-burger-in-btn{
    top: 51px;
  }


  .top-side-menu-search > form > button{
    top: 0px;
    left: -52px;

  }
  .top-side-menu-search > form > input[type=text]{
    width: 200px;
  }
  .top-side-menu-search > form > span{
    font-size: 2.4rem;
  }


}
/*// Средние девайсы («таблетки», >= 768px)*/
@media (max-width: 767px) {

  .footer nav.nav-bottom .footer-menu-wrap {
    padding: 0 10px;
  }

  .footer nav.nav-bottom .footer-menu-wrap > div {
    height: auto;
    min-height: auto;

  }

  .footer nav.nav-bottom .footer-menu-wrap > div ul li a {
    font-size: 20px;
  }

  .admin-bar .navbar {
    top: -36px;
  }

  .top-side-menu-burger-out-btn, .top-side-menu-burger-in-btn{
    top: 94px;
  }
  .top-side-menu-search > form > span{
    font-size: 1.5rem;
  }


}
@media (max-width: 575px) {
  /*footer*/

  .footer nav.nav-bottom .footer-menu-wrap{
    display: flex;
    flex-direction: column;
    width: 80%;
    /*align-items: center;*/
    padding: 0 10px;
  }
  .footer nav.nav-bottom .footer-menu-wrap>div{
    height: auto;
    min-height: auto;
  }
  /*header*/
  .photo-header-wrap{
    flex-direction: column;
    padding: 10px 5px;
  }
  .photo-header-wrap > div > img{
    max-width: 100%;
  }


  /*header side menu*/
  .admin-bar .navbar{
   top: -36px;
  }
  .top-side-menu-burger-out-btn, .top-side-menu-burger-in-btn{
    top: 56px;
  }
  .top-side-menu-search > form > input[type=text]{
    width: 133px;
    height: 29px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
  }
  .top-side-menu-search > form > button{
    top: -29px;
    left: 100px;
    height: 29px;
    font-size: 16px;
  }
  .top-side-menu-search > form > span{
    padding-left: 12px;
  }
  .top-side-menu-social{
    /*flex-direction: column;*/
    /*justify-contnet: flex-start;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
  }
  .top-side-menu-columns{

  }
  .top-side-menu-body{
    gap: 33px;
    grid-template-columns: 1fr;

  }

}


