h6 {
  color:blue;
}
p {
  color:#ffffff;
  font: 15px Arial;
}
body #page{
  margin-top: 97px;
}
body.admin-bar #page{
  //margin-top: 35px;
  margin-top:-32px;
  //padding-top: 32px;
}

