.nav-bottom {display: block;  }

.footer {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(8, 11, 11), rgb(16, 21, 22), rgb(25, 32, 33), rgb(33, 42, 44), rgb(41, 53, 55), rgb(49, 63, 66));
overflow: hidden;
}

.nav-bottom ul {
  margin-top: 1.75em;
  padding: 0;
}

.footer ul{
  list-style: none;
  a{
    text-decoration: none;
    &:hover{
      text-decoration:none;
    }
  }

}
.footer{
  a{
    text-decoration: none;
    &:hover{
      text-decoration:none;
    }
  }
}
.footer nav.nav-bottom  li a{
  color: #eee;
  transition: all 0.5s;
}
.footer nav.nav-bottom  li a:hover{
  //color: #fff;
  color: #eac15a;
  text-decoration: none;
}
.footer nav.nav-bottom  li:first-child > a ,
.footer ul li.current-menu-item a{
  color: #eac15a;
  font-size: 21px;
}
.footer nav.nav-bottom  li.current-menu-item a{

}

.footer-information  i.fab{
  width: 26px;
  font-size: 21px;
  cursor: pointer;
  transition: all 0.5S;
  color: #999;
}
.footer-information  i.fab:hover{
  transform: translateY(-20%);
  color: #fff;
}
li.current-menu-item a{
  text-decoration: none;
  color: #eac15a;
  outline: none !important; }
