/*setting for mobile and etc*/
/*// Малые девайсы («ландшафтные телефоны», >= 576px)*/
/*// Экстрабольшие девайсы (большие десктопы, >= 1200px)*/

@media (max-width: 1387px ){
}

@media (max-width: 1199px) {
  /*header , sidemenu*/
  .admin-bar .navbar {
    //top: -36px;
    top:32px;  }
}

/*// Большие девайсы (десктопы, >= 992px)*/
@media (max-width: 992px) {
  /*header sidemenu*/
  .admin-bar .navbar {
    top: 32px;
    //top: -36px;
  }
}

/*// Средние девайсы («таблетки», >= 768px)*/
@media (max-width: 769px) {
  .admin-bar .navbar {
    //top: -36px;
    top: 32px;
  }
}

@media (max-width: 577px)
  /*and (orientation: portrait)*/
{
  /*header*/
  .photo-header-wrap{
    flex-direction: column;
    padding: 10px 5px;
  }
  .photo-header-wrap > div > img{
    max-width: 100%;
  }
  /*header side menu*/
  .admin-bar .navbar{
    top: 31px;
    //top: -36px;
  }
}

/*orientation*/
/*@media (max-width: 575px) and (orientation:landscape){*/
/*}*/

/*for device less than 360px*/
@media (max-width: 379px) {
}